<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Paquete</title>
</head>
<body>
    <h1>Crear Paquete</h1>
    <form method="post">
        {% csrf_token %}
        <label for="cliente">Cliente:</label>
        <select name="cliente" id="cliente">
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
            {% endfor %}
        </select>
        <br>
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
